<!-- DETAIL VISUALISATION -->
<div *ngIf="!openForm">
  <a (click)="openFormAction()" href="#">Edit</a>
  <h2>{{ selectedCard.title }}</h2>
  <hr />
  <p>{{ selectedCard.content }}</p>
</div>

<!-- DETAIL EDITION -->
<form
  *ngIf="openForm"
  [formGroup]="cardForm"
  (ngSubmit)="updateCardAction(cardForm)"
>
  <div *ngIf="cardForm.invalid" class="alert error">Check Error</div>

  <input formControlName="id" type="hidden" />

  <!-- cardForm.title -->
  <label>Name Card</label>
  <input formControlName="title" type="" />
  <p *ngIf="cardForm.get('title').hasError('required')" class="error"></p>

  <!-- cardForm.content -->
  <label>Content</label>
  <textarea formControlName="content" cols="" rows=""></textarea>
  <p *ngIf="cardForm.get('content').hasError('minlength')" class="error">
    minimum 5 characters
  </p>

  <div class="form-button">
    <button type="submit">Update</button>
  </div>
</form>
